RewriteEngine On
RewriteBase /

# .html uzantısını kaldırma
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]

# .php uzantısını kaldırma
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# index.html veya index.php'yi gizleme
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /(.*)/index\.(html|php) HTTP
RewriteRule ^(.*)/index\.(html|php)$ /$1/ [R=301,L]




ErrorDocument 404 /404.html